<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html th:replace="~{layouts/main :: layout(~{:: #main-content}, 'home', ~{:: #news-list})}">
    
    <div id="main-content">
        <h1>Welcome to the Nexus</h1>
        <p>This is the company dashboard. Notice the header above?</p>
        <p>It was injected by the layout!</p>
    </div>

    <div id="news-list">
        <h1>Here are some news</h1>
        <ul>
            <li>Lotto winners!</li>
            <li>Hep hep hooray</li>
            <li>Heyo!</li>
        </ul>
    </div>

</html>
