spring:
  application:
    name: smartwallet
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: 
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console
  #liquibase:
   # change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080
