<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DevLaunch Portal</title>
    <link rel="stylesheet" th:href="@{/css/site.css}" />
</head>

<nav>
    <a th:href="@{/about}">About Me</a>
    <a th:href="@{/inventory}">Inventory</a>
    <a th:href="@{/dashboard}">Travel Dashboard</a>
    <a th:href="@{/register}">Register</a>
    <a th:href="@{/signup}">Sign Up</a>
    <a th:href="@{/fragments}">Fragments</a>
    <a th:href="@{/team}">Team Directory</a>
    <a th:href="@{/polyglot}">Polyglot</a>
</nav>


<body>

    <div class="container">
        <h1 th:text="${welcomeMessage}">Loading...</h1>
        <p>This page is served by a Spring Boot Controller!</p>
    </div>

</body>

</html>